body
{
    background-image: url("img/bg.jpg");
    background-size: 1350px;
    background-position: center;
    height: 675px;
    background-repeat:no-repeat ;
    font-family: "Comic Sans MS";
}
#container
{
    background-color: rgba(136, 154, 156, 0.70);
    height: 555px;
    width:1000px;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 170px;
    box-shadow: 10px 10px 5px rgba(64,67,68,0.94);

}
header
{

    font-weight: bold;
    font-size: 20px;

}
#menu ul
{
    list-style-type: none;
    padding-top: 20px;
}
#menu ul li
{
    float: left;
    padding: 10px;
    border-right: 2px solid rgba(215,216,218,0.94);
}
#menu ul li:last-of-type
{
    border: none;

}
#menu ul a
{
    color: rgba(215,216,218,0.94);
    text-decoration: none;
    padding: 10px;
}
#menu ul a:hover
{
    background-color: rgba(87,92,94,0.94);
    border-radius:5px ;
}

footer
{
    font-size: 12px;
    font-weight: bold;
    margin-left: 300px;
   float: left;
    width: 1000px;
    margin-top: -30px;

}
footer ul
{
    list-style-type: none;
    margin-top: -50px;
    margin-left: -100px;

}
footer ul li
{
    float: left;
    padding: 7px;

}
footer ul a
{
    color: rgba(215,216,218,0.94);
    text-decoration: none;
    padding: 7px;
}
footer ul a:hover
{
    background-color: rgba(87,92,94,0.94);
    border-radius:5px ;
}
footer p
{
    font-size: 15px;
    float: left;
    margin-top: 5px;
    color: rgba(215,216,218,0.94);

}

#elementary
{
    background-color: rgba(236,244,246,0.94);
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(64,67,68,0.94);
    width: 270px;
    color: rgba(99,115,118,0.94);
    padding: 20px;
    float: left;
    margin-top: -470px;
    margin-left: 200px;
}
#elementary iframe
{
    width: 270px;
    height: 150px;
}
#high
{
    background-color: rgba(236,244,246,0.94);
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(64,67,68,0.94);
    width: 270px;
    color: rgba(99,115,118,0.94);
    padding: 20px;
    float: left;
    margin-top: -470px;
    margin-left: 520px;
    height: 395px;
}
#high iframe
{
    width: 270px;
    height: 150px;
}
#faculty
{
    background-color: rgba(236,244,246,0.94);
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(64,67,68,0.94);
    width: 270px;
    color: rgba(99,115,118,0.94);
    padding: 20px;
    float: left;
    margin-top: -470px;
    margin-left: 840px;
    height: 395px;
}
#faculty iframe
{
    width: 270px;
    height: 150px;
}